.cartContainer {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

button {
  background-color: transparent;
  border: none;
  position: relative;
}

button:hover {
  cursor: pointer;
}

button > div > img {
  transition: filter 0.1s;
}

button > div > .cartItemsCounting {
  transition: all 0.5s;
}


button:active > div > .cartItemsCounting {
  background-color: var(--white);
  color: var(--orange);
  box-shadow: var(--shadow);
}

.cartItemsCounting {
  position: absolute;
  margin-left: 1em;
  margin-top: -0.5em;
  background-color: var(--orange);
  padding-inline: 0.75em;
  color: var(--white);
  border-radius: 5em;
  font-size: 1rem;
  z-index: 2;
}

@media (max-width: 768px) {
  .cartContainer {
    position: static;
  }
}

