.container {
  position: absolute;
  align-self: center;
  width: 25em;
  margin-top: 3em;
  background-color: var(--white);
  min-height: 15em;
  opacity: 100%;
  display: block;
  box-shadow: var(--shadow);
  animation: showCart 500ms linear 100ms backwards;
}

.titleContainer {
  padding: 1.5em;
  border-bottom: 1px solid var(--color-line);
}

.title {
  text-align: left;
}

.itemsContainer {
  display: flex;
  position: relative;
  flex-direction: column;
  min-height: 100%;
  align-items: center;
}

.centeredText {
  margin-top: 1em;
  color: var(--middle-gray);
  font-weight: 700;
}

.cartList {
  width: 100%;
}

.finishBuyButton {
  width: 90%;
  background-color: var(--orange);
  font-size: 1em;
  padding: 1em;
  color: var(--white);
  font-weight: bold;
  border-radius: 10px;
}

.finishBuyButton:active {
  background-color: var(--light-blue);
  color: var(--orange);
}

@keyframes showCart {
  0% {
    opacity: 0%;
  }

  100% {
    opacity: 100%;
  }
}

@media (max-width: 768px) {
  .container {
      left: 0;
      right: 0;
      margin: auto;
      width: 95%;
      align-self: center;
      margin-top: 3em;
      border-radius: 10px;
      z-index: 999;
  }
}