@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Kumbh Sans', sans-serif;
}

:root {
  --black: black;
  --color-line: #80808040;
  --gray: #333;
  --middle-gray: #666;
  --light-middle-gray: #99999980;
  --light-gray: #c4c4c4;
  --light-blue: #f7f8fd;
  --orange: #ff7d1a;
  --second-orange: #F47F26;
  --shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  --backdrop: rgba(0, 0, 0, .6);
  --white: white;
  --second-white: #ffede0;
  --light-grayish-blue: #C7D0DE;
  --cart-svg-inactive: invert(100%) sepia(0%) saturate(0%) hue-rotate(132deg) brightness(105%) contrast(500%);
  --cart-svg-active: invert(67%) sepia(31%) saturate(7198%) hue-rotate(346deg) brightness(102%) contrast(104%);
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
}

#root {
  padding-inline: 10em;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: rgba(var(--color-line), 1);
  font-size: 1.5rem;
}

@media (max-width: 1200px) {
  #root {
    padding-inline: 5em;
  }
}

@media (max-width: 500px) {
  #root {
      padding-inline: 0;
    }
}